<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Filter By Products</strong>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let tempProductCategory of productCategories">
          <a class="dropdown-item" routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
            {{ tempProductCategory.categoryName }}
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <app-search></app-search>
  <button class="btn btn-outline-dark" type="submit">
    <i class="bi-cart-fill me-1"></i>
    Cart
    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
  </button>
</div>
