<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#">Full Stack Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/category/1" routerLinkActive="active-link">Books</a></li>
            <li><a class="dropdown-item" routerLink="/category/2" routerLinkActive="active-link">Coffee Mugs</a></li>
            <li><a class="dropdown-item" href="#">Mouse Pads</a></li>
            <li><a class="dropdown-item" href="#">Coffee Mugs</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>
<!--      <form class="d-flex" onsubmit="return false;" method="GET">-->
<!--        <input class="form-control-outline-dark" type="text" name="search"-->
<!--               placeholder="Search for data ..." />-->
<!--        <button class="au-btn-submit" type="submit">-->
<!--          Search-->
<!--        </button>-->
<!--      </form>-->
      <form class="d-flex" onsubmit="return false;" method="GET">
        <input class="form-control-outline-dark" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
    </div>
  </div>
</nav>
<!-- End Navigation-->

<!-- Header-->

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
    </div>
  </div>
</header>
<!-- End Header-->

<!-- Main Content-->
<div class="container">
  <router-outlet></router-outlet>
<!--  Removing this to use the Router-Oulet instead -->
<!--  <app-product-list></app-product-list>-->
</div>

<!-- End Main Content-->


<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- End Footer-->
