<section class="py-5">
<div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div *ngFor="let tempProduct of products" class="col mb-5">
          <div class="card h-100">
            <a routerLink="/products/{{ tempProduct.id }}">
            <img href="product-detail.html" src="{{ tempProduct.imageUrl }}" class="card-img-top" >
            </a>
            <div class="card-body p-4">
              <div class="text-center">
<!--                <a routerLink="/products/{{ tempProduct.id }}">-->
                <h5 class="fw-bolder"> {{ tempProduct.name }}</h5>
<!--                </a>-->
              </div>
            </div>
            <div class="card-body p-4">
              <div class="text-center">
                {{ tempProduct.unitPrice | currency: 'USD' }}
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <!-- if products empty then display a message -->
        <div *ngIf="products?.length == 0" class="alert-warning col-md-12" role="alert">
            No products found.
        </div>

      </div>
  <!-- begin footer -->
  <div class="footer-pagination">
    <div class="row">
      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9" style="padding-left: 30%">

            <ngb-pagination [(page)]="thePageNumber"
                            [pageSize]="thePageSize"
                            [collectionSize]="theTotalElements"
                            (pageChange)="listProducts()">

            </ngb-pagination>

          </div>

          <div class="col-md-3 mt-2" style="text-align: right;">
            <span class="mr-2">Page Size</span>

            <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
              <option selected value="true">5</option>
              <option selected value="true">10</option>
              <option selected value="true">20</option>
              <option selected value="true">50</option>
            </select>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- end footer -->
  </div>
</section>
